# SERVER

# Ignore bundler config.
/server/.bundle

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp/

/server/log/*
!/server/log/.keep
/server/tmp

# Ignore hidden keys
/server/.env

# CLIENT
/client/node_modules/
/client/.env