body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

img {
  width: 50px;
  height: 50px;
}

.big-img {
  width: 20em;
  height: 20em;
}

#header {
  background-color: black;
  height: 65em;
}

.header {
  color: white;
  margin: 2.5em 0 2.5em 0;
}

.venmo-img {
  margin: 0 0 0.15em 1em;
  width: 4.22em;
  height: 0.8em;
}

.venmo-btn {
  background-color: #3D95CE;
  color: white;
  border: none;
}

.venmo-btn:hover {
  color: #3D95CE;
}

.roomiesApp {
  margin-top: 80px;
}

.large-padding {
  padding: 30px 0 30px 0;
}

.medium-padding {
  padding: 15px 0 15px 0;
}

.medium-margin {
  margin: 15px 0 15px 0;
}

.medium-margin-left {
  margin-left: 15px;
}

.no-padding {
  padding: 0;
}

.user-icon {
  padding: 0!important;
}

.expense-form {
  margin-top: 1em;
}

.group-tight {
  margin-bottom: 0;
}

.house-expenses {
  overflow-y: scroll;
  height: 25em;
}

.navbar-inverse {
  background-color: black;
}